<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <title></title>
</head>
<body>
<div id="content" layout:fragment="content">
    <!--确认提交订单start-->


</div>
<script layout:fragment="script">
    var config = {pageTitle: "首页", navActive: "navProduct"};
    $(function () {
        document.title = config.pageTitle;
        $("#" + config.navActive).addClass("active");

    });

    function addToCart(e) {
        var bookId = $(e).parent().children("input:first").val();
        $.ajax({
            type: "post",
            url: "/book/addToCart",
            data: {
                bookId: bookId
            },
            dataType: "json",
            success: function (json) {
                if (json.msg === 0) {
                    alert("添加成功");
                } else if (json.msg === 1) {
                    alert("请先登录哦");
                }
            }
        });
    }
</script>
</body>
</html>