<!doctype html>
<html class="no-js" lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/carts.css">
    <!-- all css here -->
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- font-awesome.min.css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel.css -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <!-- owl.carousel.css -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- shortcode/shortcodes.css -->
    <link rel="stylesheet" href="/css/shortcode/shortcodes.css">
    <!-- nivo-slider.css -->
    <link rel="stylesheet" href="/css/nivo-slider.css">
    <!-- style.css -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive.css -->
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>


    <!--    <link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>

    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/layui/layui.all.js"></script>
</head>
<body>


<!--[if lt IE 10]>
<p class="browserupgrade">您正在使用<strong>过时的</strong> 浏览器,页面显示<strong>可能出现错误</strong>。 请<a href="http://browsehappy.com/">升级您的浏览器</a>来提升您的体验.
</p>
<![endif]-->

<!-- Add your site or application content here -->
<!-- header -->
<header>
    <!-- header-top-area-start -->
    <div class="header-top-area black-bg ptb-7 hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="header-top-left">
                        <span><a href="#">联系我们:</a>(+86)188-8888-8888</span>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <div class="header-top-right">
                        <ul>
                            <li class="slide-toggle"><a href="#" th:unless="${session.username==null}"
                                                        th:text="${session.username}"> 我的账户<i
                                    class="fa fa-user"></i></a>
                            <li class="slide-toggle"><a href="#" th:if="${session.username==null}"
                                                        th:text="我的账户"> 我的账户<i
                                    class="fa fa-user"></i></a>
                                <ul class="show-toggle">
                                    <li><a href="/user/log" th:if="${session.userId==null}" th:text="登录">登录</a></li>
                                    <li><a href="/user/reg" th:if="${session.userId==null}" th:text="注册">注册</a></li>
                                    <li><a href="/user/logout" th:if="${session.username!=null}" th:text="登出">登出</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-check"></i> Checkout</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-top-area-end -->
    <!-- header-bottom-area-start -->
    <div class="header-bottom-area bg-color-1 ptb-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="logo">
                        <a href="/"><img src="https://i.loli.net/2019/05/30/5cefab293206e41841.png" alt=""/></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="header-bottom-middle">
                        <div class="top-search">
                            <span class="tex_top_skype"><i class="fa fa-skype"></i>客服: <span
                                    class="">
                                <a target="_blank"
                                   href="tencent://message/?uin=506243021&Site=www.506243021.com.cn&Menu=yess"
                                   style="color: white;">
                                    QQ:506243021</a>
                            </span></span>
                            <span class="tex_top_email"><i class="fa fa-envelope"></i>邮箱: <a
                                    href="mailto:506243021@qq.com" style="color: white;">506243021@qq.com</a>
                            </span>
                        </div>
                        <div class="search-box">
                            <form action="/book/search" method="post">
                                <input type="text" placeholder="搜索书名(作者)..." name="bookName" th:value="*{bookName}">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            <form id="allSearch" method="get" action="/book/allSearch">
                                <input type="hidden" name="bookName" th:value="${bookName}">
                                <div th:unless="${#lists.isEmpty(bookForm)}">
                                    <input type="hidden" name="classname" th:value="${bookForm.classname}">
                                    <input type="hidden" name="minBookPrice" th:value="${bookForm.minBookPrice}">
                                    <input type="hidden" name="maxBookPrice" th:value="${bookForm.maxBookPrice}">
                                    <input type="hidden" name="page" value="1">
                                    <input type="hidden" name="sales" th:value="${bookForm.sales}">
                                    <input type="hidden" name="desc" th:value="${bookForm.desc}">
                                </div>
                                <div th:if="${#lists.isEmpty(bookForm)}">
                                    <input type="hidden" name="classname">
                                    <input type="hidden" name="minBookPrice">
                                    <input type="hidden" name="maxBookPrice">
                                    <input type="hidden" name="page" value="1">
                                    <input type="hidden" name="sales">
                                    <input type="hidden" name="desc">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="header-bottom-right">
                        <div class="left-cart">
                            <div class="header-compire">
                                <br>
                                <a href="#"><i class="fa fa-heart"></i> 收藏夹:<i>0</i> </a>
                            </div>
                        </div>
                        <!--                        <div class="shop-cart-area">-->
                        <!--                            <div class="top-cart-wrapper">-->
                        <!--                                <div class="block-cart">-->
                        <!--                                    <div class="top-cart-title">-->
                        <!--                                        <a href="#">-->
                        <!--                                            <span class="title-cart">我的购物车</span>-->
                        <!--                                            <span class="count-item">2 items</span>-->
                        <!--                                            <span class="price">$444.00</span>-->
                        <!--                                        </a>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="top-cart-content">-->
                        <!--                                        <ol class="mini-products-list">-->
                        <!--                                            &lt;!&ndash; single item &ndash;&gt;-->
                        <!--                                            <li>-->
                        <!--                                                <a class="product-image" href="product-details.html">-->
                        <!--                                                    <img alt="" src="/img/cart/1.jpg">-->
                        <!--                                                </a>-->
                        <!--                                                <div class="product-details">-->
                        <!--                                                    <p class="cartproduct-name">-->
                        <!--                                                        <a href="product-details.html">Pellentesque habitant </a>-->
                        <!--                                                    </p>-->
                        <!--                                                    <strong class="qty">qty:1</strong>-->
                        <!--                                                    <span class="sig-price">$200.00</span>-->
                        <!--                                                </div>-->
                        <!--                                                <div class="pro-action">-->
                        <!--                                                    <a class="btn-remove" href="#">remove</a>-->
                        <!--                                                </div>-->
                        <!--                                            </li>-->
                        <!--                                            &lt;!&ndash; single item &ndash;&gt;-->
                        <!--                                            &lt;!&ndash; single item &ndash;&gt;-->
                        <!--                                            <li>-->
                        <!--                                                <a class="product-image" href="product-details.html">-->
                        <!--                                                    <img alt="" src="/img/cart/2.jpg">-->
                        <!--                                                </a>-->
                        <!--                                                <div class="product-details">-->
                        <!--                                                    <p class="cartproduct-name">-->
                        <!--                                                        <a href="product-details.html">New catolog</a>-->
                        <!--                                                    </p>-->
                        <!--                                                    <strong class="qty">qty:1</strong>-->
                        <!--                                                    <span class="sig-price">$222.00</span>-->
                        <!--                                                </div>-->
                        <!--                                                <div class="pro-action">-->
                        <!--                                                    <a class="btn-remove" href="#">remove</a>-->
                        <!--                                                </div>-->
                        <!--                                            </li>-->
                        <!--                                            &lt;!&ndash; single item &ndash;&gt;-->

                        <!--                                        </ol>-->
                        <!--                                        <div class="top-subtotal">-->
                        <!--                                            Subtotal: <span class="sig-price">$444.00</span>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="cart-actions">-->
                        <!--                                            <button><span>Checkout</span></button>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-bottom-area-end -->
</header>
<!-- header -->
<!-- mainmenu-area-start -->
<div class="mainmenu-area bg-color-2 hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="mainmenu-left visible-lg checkout-page  visible-md">
                    <div class="product-menu-title">
                        <h2 style="text-align: center;font-weight: bold;letter-spacing: 20px;">所有分类<i
                                class="fa fa-arrow-circle-down"></i></h2>
                    </div>
                    <div class="product_vmegamenu">
                        <ul>
                            <li th:each="c : ${categories}">
                                <a href="#" class="hover-icon" th:text="${c.className}"
                                   style="font-size:17px;margin:10% auto;text-align: center;font-weight: bold;letter-spacing: 20px;">
                                    小&emsp;说

                                </a>
                                <div class="vmegamenu">
											<span th:each="tow : ${c.classificationInfos}">
												<a href="#" class="vgema-title" th:text="${tow.classname}">1</a>
                                            </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="mainmenu">
                    <nav>
                        <ul>
                            <li><a href="/">主页</a></li>
                            <li><a href="/book/search">所有书籍</a></li>
                            <li><a href="/book/cart">购物车</a></li>
                            <li><a href="/user/information">我的账户</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mobile-menu-start -->
<div class="mobile-menu-area hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mobile-menu">
                    <nav id="mobile-menu">
                        <ul>
                            <li><a href="/">主页</a></li>
                            <li><a href="../moban/about.html">About</a></li>
                            <li><a href="/book/search">所有书籍</a></li>
                            <li><a href="/book/cart">购物车</a></li>
                            <li><a href="../moban/login.html">Login</a></li>
                            <li><a href="../moban/account.html">My Account</a></li>
                            <li><a href="../moban/contact-us.html">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mobile-menu-end -->
<!-- mainmenu-area-end -->


<div id="content" layout:fragment="content">
    <a href="#" class="btn btn-primary">hi</a>
</div>
<br>
<br>

<footer>
    <!-- footer-top-area -->
    <div class="footer-top-area border-1 ptb-30 bg-color-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-title">
                        <h4>商铺信息</h4>
                    </div>
                    <div class="footer-widget">
                        <div class="contact-info">
                            <ul>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="contact-text">
                                        <span>重庆西永微电园</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="contact-text">
                                        <a><span>506243021@qq.com</span></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="contact-text">
                                        <span>(+86)188-8316-4312</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-title">
                        <h4>页面展示</h4>
                    </div>
                    <div class="footer-widget">
                        <div class="list-unstyled">
                            <ul>
                                <li><a href="/">主页</a></li>
                                <li><a href="/book/search">所有书籍</a></li>
                                <li><a href="/book/cart">购物车</a></li>
                                <li><a href="/user/information">我的账户</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-title">
                        <h4>我的账户</h4>
                    </div>
                    <div class="footer-widget">
                        <div class="list-unstyled">
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Wish List</a></li>
                                <li><a href="#">Newsletter</a></li>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">Brands</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-title">
                        <br>
                    </div>
                    <div class="footer-widget">
                        <div class="footer-widget-img">
                            <br> <br>
                            <a href="/"><img src="https://i.loli.net/2019/05/30/5cefab293206e41841.png" alt=""/></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- all js here -->
<!-- jquery-1.12.0 -->
<script src="/js/vendor/jquery-1.12.0.min.js"></script>
<!-- bootstrap.min.js -->
<script src="/js/bootstrap.min.js"></script>
<!-- nivo.slider.js -->
<script src="/js/jquery.nivo.slider.pack.js"></script>
<!-- jquery-ui.min.js -->
<script src="/js/jquery-ui.min.js"></script>
<!-- jquery.magnific-popup.min.js -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- jquery.meanmenu.min.js -->
<script src="/js/jquery.meanmenu.js"></script>
<!-- jquery.scrollup.min.js-->
<script src="/js/jquery.scrollup.min.js"></script>
<!-- owl.carousel.min.js -->
<script src="/js/owl.carousel.min.js"></script>
<!-- plugins.js -->
<script src="/js/plugins.js"></script>
<!-- main.js -->
<script src="/js/main.js"></script>

<script src="/js/jquery.min.js"></script>
<script src="/js/carts.js"></script>
<script>
    $(function () {
        $(".hover-icon").click(function () {
            var className = $(this).text();
            $("[name=classname]").val(className);
            $("#allSearch").submit();
        });
        $(".vgema-title").click(function () {
            var className = $(this).text();
            $("[name=classname]").val(className);
            $("#allSearch").submit();
        });
    })
</script>


<script layout:fragment="script">

</script>


</body>
</html>
