<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.bookstore.dao.AddressMapper">

    <select id="findByUserId" resultType="com.bookstore.bookstore.dao.model.Address">
        select * from address where user_id=#{userId}
    </select>

    <insert id="add" parameterType="com.bookstore.bookstore.dao.model.Address">
        insert into address(user_id,content,area,default_address,phone,people,postcode) value (#{userId},#{content},#{area},#{defaultAddress},#{phone},#{people},#{postcode})
    </insert>

    <select id="select" resultType="com.bookstore.bookstore.dao.model.Address">
        select * from address where user_id=#{userId}
    </select>

    <update id="updateAddress" parameterType="com.bookstore.bookstore.dao.model.User">
        update myuser set content=#{content},postcode=#{postcode},phone=#{phone},people=#{people} where address_id=#{addressId}
    </update>
</mapper>
