<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.bookstore.dao.BookMessageMapper">

    <select id="findByName" resultType="com.bookstore.bookstore.dao.model.AllBookMessage" parameterType="String">
        select * from book t1,store t2
        <where>
            t1.store_id=t2.store_id
            <if test="bookName!=null and bookName!=''">
                and t1.book_name LIKE CONCAT('%',#{bookName},'%')
            </if>
        </where>
    </select>
    <select id="findById" resultType="com.bookstore.bookstore.dao.model.AllBookMessage">
       select * from book t1,store t2
        <where>
            t1.store_id=t2.store_id
            <if test="bookId!=null and bookId!=''">
                and t1.book_id=#{bookId}
            </if>
        </where>
    </select>
</mapper>
