<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.bookstore.dao.UserMapper">
    <insert id="add1" parameterType="com.bookstore.bookstore.dao.model.User">
        insert into myuser(username,password,email) value (#{username},#{password},#{email})
    </insert>
    <select id="select" parameterType="com.bookstore.bookstore.dao.model.User" resultType="com.bookstore.bookstore.dao.model.User">
        select * from myuser where username=#{username} and password=#{password}
    </select>
    <update id="update" parameterType="com.bookstore.bookstore.dao.model.User">
        update myuser set nicname=#{nicname},phone=#{phone},email=#{email} where user_id=#{userId}
    </update>

    <update id="modifyPassword" parameterType="com.bookstore.bookstore.dao.model.User">
        update myuser set password=#{password},email=#{email} where user_id=#{userId}
    </update>

    <select id="getUser" parameterType="com.bookstore.bookstore.dao.model.User" resultType="com.bookstore.bookstore.dao.model.User">
        select * from myuser where username=#{username} and emil=#{emil}
    </select>

</mapper>
