<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>

</head>
<body>

<div id="content" layout:fragment="content">

    <!-- breadcrumb start -->
    <div class="breadcrumb-area">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Login</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->
    <!-- account area start -->
    <div class="account-area pt-30 log">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="account-info pb-30">
                        <form action="/user/dolog" method="post" class="layui-form">
                            <div class="form-fields">
                                <h3 style="color:#A62F00;text-align: center;" th:text="${msg}">请登录</h3>

                                <p>用户名：<span class="required">*</span> <input type="text" name="username"
                                                                              class="" required/></p>

                                <p>密码<span class="required">*</span><input type="password" name="password"
                                                                           class="" required/></p>
                            </div>
                            <div class="form-action">
                                <a href="/user/doGetBack" class="lost_password">忘记密码？</a>
                                <a href="/user/reg" class="lost_password">注册</a>

                                <input value="登录" type="submit">
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- account area end -->
</div>

<script layout:fragment="script">
    var config = {pageTitle: "首页", navActive: "navProduct"};
    $(function () {
        document.title = config.pageTitle;
        $("#" + config.navActive).addClass("active");

    })
</script>
</body>
</html>

