<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>

</head>
<body>
<div id="content" layout:fragment="content">
    <!-- breadcrumb start -->
    <div class="breadcrumb-area">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="../moban/index.html"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">register</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->
    <!-- account area start -->
    <div class="account-area pt-30 log">
        <div class="container">
            <div class="row">
                <form action="/user/doReg" method="post">
                    <div class="form-fields">
                        <h3 style="color:#A62F00;text-align: center;" th:text="${msg}">用户已存在</h3>

                        <p>用户名：<span class="required">*</span> <input type="text" name="username"
                                                                      class=""/></p>

                        <p>密码<span class="required">*</span><input type="password" name="password"
                                                                   class=""/></p>
                        <p>联系电话<span class="required">*</span><input type="text" name="phone"
                                                                   class=""/></p>
                    </div>
                    <div class="form-action">

                        <input value="注册" type="submit">
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- account area end -->
</div>

<script layout:fragment="script">
    var config = {pageTitle: "首页", navActive: "navProduct"};
    $(function () {
        document.title = config.pageTitle;
        $("#" + config.navActive).addClass("active");

    })
</script>
</body>
</html>

