<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>欢迎</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <style>
        * {
            font-size: 50px;
        }
    </style>
</head>
<body>
<h2>hello你好</h2>
<p>内</p>
<a href="login">登陆界面</a>
<button class="layui-btn layui-btn-danger" onclick="test()">一个标准的按钮</button>



<script src="layui/layui.all.js"></script>
<script>
    function test() {
        $.ajax({

            url:"testJson",
            dataType:"json",
            success:function (json) {
                console.log(json);
            }
        })
    }
</script>
</body>
</html>