<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>欢迎</title>
    <meta charset="utf-8">
    <base href="http://localhost:8080">
<!--    <base href="/">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class=" layui-col-md6 layui-col-md-offset3">
            <div style="border: 1px solid;padding:10%;border-color:#2D93CA;border-radius: 5%;margin-top:20%">
                <form class="layui-form" action="user/sign"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-icon layui-icon-username">用户名：</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off"
                                   class="layui-input"
                                   lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-icon layui-icon-password">密&emsp;码：</label>
                        <div class="layui-input-block">
                            <input type="password" name="password" placeholder="请输入密码" autocomplete="off"
                                   class="layui-input"
                                   lay-verify="required">
                        </div>
                    </div>
                    <hr class="layui-bg-gray">
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-icon layui-icon-auz">自动登录</label>
                        <div class="layui-input-block">
                            <input type="checkbox" checked lay-skin="switch" name="autoLogin" value="true">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">登录</button>
<!--                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                            <input class="layui-btn" onclick="signUser()" value="注册" type="button"/>
                        </div>
                    </div>
                    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
                </form>
            </div>
        </div>
    </div>
</div>
<script src="layui/layui.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
    });
    function signUser(){
        console.log("ok");
        window.location.href = "/user/signUser";
    }
    $(function () {

    });
</script>
</body>
</html>